<div id="vcr-integration-info" class="vcr-modal modal show" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Adding records to a Virtual Collection</h4>
      </div>
      <div class="modal-body">
        <p>
          The website or service that you are currently using makes it easy to select resources, metadata records or
          other content and add these to a Virtual Collection. Use the links or buttons to add individual items to the
          queue. If there are one or more queued items, a list will be shown along with options to submit, modify or
          clear it. Submitting the queue will open a new tab or window, which will give you the option to log into the
          Virtual Collection Registry and further process your selection. The selection may be either used to form a new
          Virtual Collections, or added to an existing one under your control.
        </p>
        <p>
          Important: no Virtual Collection will be created until you have submitted the queue and completed the
          subsequent creation process in the Virtual Collection Registry.
        </p>

        <h5>What is a Virtual Collection?</h5>
        <p>
          A virtual collection is a coherent set of links to digital objects (e.g. annotated text, video) that can be
          easily created, accessed and cited. The links can originate from different archives, hence the term virtual. A
          virtual collection is suitable for manual access (using a web-browser) as well as automated processing (e.g.
          by a web service). Learn more at <a href="https://www.clarin.eu/content/virtual-collections">clarin.eu/content/virtual-collections</a>.
        </p>

        <h5>What is the virtual collection registry?</h5>
        <p>
          The <a href="https://collections.clarin.eu">Virtual Collection Registry</a> (VCR) is a registry provided by CLARIN where scholars can create and publish
          their virtual collections. Learn more at <a href="https://www.clarin.eu/content/virtual-collections">clarin.eu/content/virtual-collections</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>